main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--header-height));
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}