main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - var(--header-height));
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    #title {
        font-family: "Rouge Script", Arial, Helvetica, sans-serif;
        margin: 0;
        font-size: 6rem !important;
        text-decoration: underline;
        text-decoration-thickness: 0.2rem;
        text-underline-offset: 1.3rem;
    }

    .info {
        max-width: 45%;
        border: 0.063rem solid var(--border);
        padding: 1rem;
        max-width: 20rem;
        border-radius: 1rem;
    }

    h1 {
        margin: 0;
        padding-bottom: 0.35rem;
        margin-bottom: 0.5rem;
        border-bottom: 0.063rem solid var(--border);
    }

    p {
        margin: 0;
    }
}



.sources {
    border: solid var(--border) 0.063rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        margin: 0;
    }

    .links {
        border: solid var(--border) 0.063rem;
        border-radius: 5rem;
        margin: 0.5rem 0.8rem;
    }
}