main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - var(--header-height));

    #about {
        margin: 0rem 1rem;

        .title-box {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;
        }

        #title {
            font-family: "Rouge Script", Arial, Helvetica, sans-serif;
            margin: 0;
            font-size: 5rem;
            border-bottom: var(--border) solid 0.063rem;
            padding-bottom: 0.5rem;
            margin-bottom: 0.5rem;
        }

        h1 {
            margin: 0;
            padding-bottom: 0.35rem;
            margin-bottom: 0.5rem;
            border-bottom: 0.063rem solid var(--border);
        }

        p {
            margin: 0;
        }
    }

    .options-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        border: var(--border) solid 0.063rem;
        border-radius: 1rem;
        padding: 1rem;
        margin: 0rem 1rem;
        gap: 1rem;

        .options {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            max-width: 35rem;
            border: var(--border) solid 0.063rem;
            border-radius: 1rem;
            padding: 0.5rem;

            h1 {
                margin: 0;
                padding-bottom: 0.35rem;
                margin-bottom: 0.5rem;
                border-bottom: 0.063rem solid var(--border);
            }

            p {
                margin: 0.5rem 0;
                border: 0.063rem solid var(--border);
                border-radius: 0.5rem;
                padding: 0.2rem;
                background: whitesmoke;
            }
        }

        .checkbox-container {
            display: flex;
            align-items: center;
            gap: 0.2rem;
        }

        input[type="checkbox"] {
            width: 1.15rem;
            height: 1.15rem;
            cursor: none;
        }

        label {
            font-size: 1.2rem;
            pointer-events: none;
        }
    }
}