/* COLORS */
:root {
    --grey: lightgray;
    --black: #414040;
    --border: #525252;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: calc(100vh - var(--header-height));
}